- name: software | glimpse | install package
  tags: packages,flatpak,glimpse,workstation-packages
  become_user: jay
  flatpak:
    name: org.glimpse_editor.Glimpse
    method: user
    state: present
  when: glimpse is defined and glimpse == true
